@charset "UTF-8";

/* Layout Small Screens */

nav {
   display: none;
}



body {
    background-image: none;
    /* removes backround image for small devices */
}
body {
   background: none;
}

#page {
   background: #fff;
   width: 450px;
   padding: 2px 10px 2px 10px;
   margin: 1px 20px 0px 20px;
   border: none;
   border-radius:none;
}

#page p {
   
   width: 450px;
}
.right {
   float: right;
}